<div class="container-fluid navbar-container">
  <div class="row align-items-center justify-content-between">
    <div class="col-2">
      <img
        class="kb-logo"
        src="https://kothabhada.com/uploads/20220620102041-kothabhada-logofinal.png"
        alt="Kotha_Bhada"
        width="130"
        height="80"
        style="object-fit: contain"
      />
    </div>
    <div class="col-6 col-md-6 d-flex justify-content-around">
      <div class="col-3 menu d-none d-md-flex">
        WISHLIST
        <span class="kb-icon">
          <img
            src="https://kothabhada.com/front/assets/imgs/wishlist.svg"
            alt="wishlist"
        /></span>
      </div>
      <div class="col-3 menu d-none d-md-flex">
        LOGIN
        <span class="kb-icon"
          ><img
            src="https://kothabhada.com/front/assets/imgs/user.svg"
            alt="login"
        /></span>
      </div>
      <div class="col-8 col-md-3 menu text-center text-md-start">
        ADD PROPERTY
        <span class="kb-icon">
          <img
            src="https://kothabhada.com/front/assets/imgs/plus.svg"
            alt="add property"
          />
        </span>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-around">
      <div class="col-8 col-md-3 button px-1 py-2 menu">PROMOTE</div>
      <div class="col-3 button px-1 py-2 menu d-none d-md-block">FIND ROOM</div>
      <div
        class="col-3 button-icon text-center px-1 py-2 menu d-none d-md-block"
      >
        SHIFT HOME

        <span><i class="bi bi-truck-flatbed"></i></span>
      </div>
    </div>
  </div>
</div>
